                                                <div class="panel panel-inverse">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nº de serie</th>
                                                                        <th>Marca</th>
                                                                        <th>Modelo</th>
                                                                        <th>Motor</th>
                                                                        <th>Potencia</th>
                                                                        <th>Tipo</th>
                                                                        <th>Capacidad</th>
                                                                        <th>Características</th>
                                                                        <th>Precio</th>
                                                                        <th>Imagen</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for vehiculo  in vehiculos %}
                                                                    <tr>
                                                                        <td><a class="vehiculo" href="{% url 'vehiculo:actualizar' vehiculo.pk %}"> {{ vehiculo.numero_serie }}</a></td>
                                                                        <td>{{ vehiculo.marca }}</td>
                                                                        <td>{{ vehiculo.modelo }}</td>
                                                                        <td>{{ vehiculo.motor }}</td>
                                                                        <td>{{ vehiculo.potencia }}</td>
                                                                        <td>{{ vehiculo.tipo }}</td>
                                                                        <td>{{ vehiculo.capacidad }}</td>
                                                                        <td>{{ vehiculo.caracteristicas }}</td>
                                                                        <td>{{ vehiculo.precio }}</td>
                                                                        <td>{% if  vehiculo.imagen %}
                                                                                <img src={{ vehiculo.imagen.url }} width=50 height=50 class="media-object rounded-corner"/> 
                                                                            {% else %}
                                                                                <img src="{{ MEDIA_URL }}imagenes/vehiculos/imagen_no_disponible.jpg" width=50 height=50 class="media-object rounded-corner" />
                                                                            {% endif %} </td>
                                                                    </tr >
                                                                {% endfor %} 
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div> 