          <!-- Opcione del menu para el vendedor -->
          <li class="nav-header">Navegacion</li>
          <!-- Clientes -->

          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret pull-right"></b>
              <i class="fa fa-users"></i>
              <span >Gestionar Clientes</span>
            </a>
            <ul class="sub-menu">
              <li><a href="{% url 'cliente:crear' %}">Nuevo</a></li>
              <li><a href="{% url 'cliente:listar' %}">Listar/Editar</a></li>
            </ul>
          </li>


          <!-- Cotizacion -->
          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret pull-right"></b>
              <i class="fa fa-calculator"></i>
              <span >Gestionar Cotizaciones</span>
            </a>
            <ul class="sub-menu">
              <li><a href="{% url 'cotizacion:crear' %}">Nueva</a></li>
              <li><a href="{% url 'cotizacion:listar' %}">Ver Cotizaciones</a></li>
            </ul>
          </li>


          <!-- Ventas -->
          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret pull-right"></b>
              <i class="fa fa-shopping-cart"></i>
              <span >Gestionar Venta</span>
            </a>
            <ul class="sub-menu">
              <li><a href="{% url 'venta:crear' %}">Nueva</a></li>
              <li><a href="{% url 'venta:listar' %}">Ver Ventas</a></li>
            </ul>
          </li>

          <!-- Inventario Carros-->
          <li>
            <a href="{% url 'vehiculo:listar-vehiculos-inventario' %}">
              <i class="fa fa-car"></i>
              <span >Inventario</span>
            </a>
          </li>
