					<!-- Opcione del menu para el gerente -->

					<!-- Sucursal -->
					<li>
						<a href="{% url 'sucursal:listar' %}">
							<i class="fa fa-building"></i>
							<span>Gestionar Sucursales</span>
						</a>
					</li>

					<!-- Vehiculos -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-car"></i>
							<span>Gestionar Vehículos</span>
						</a>
						<ul class="sub-menu">
							<li><a href="{% url 'vehiculo:crear' %}">Nuevo</a></li>
							<li><a href="{% url 'vehiculo:listar-vehiculos' %}">Listar/Editar</a></li>
						</ul>
					</li>

					<!-- Repuestos -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-steam-square"></i>
							<span>Gestionar Repuestos</span>
						</a>
						<ul class="sub-menu">
							<li><a href="{% url 'repuesto:crear' %}">Nuevo</a></li>
							<li><a href="{% url 'repuesto:listar' %}">Listar/Editar</a></li>
						</ul>
					</li>
					
					<!-- Proveedores -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-steam"></i>
							<span>Gestionar Proveedores</span>
						</a>
						<ul class="sub-menu">
							<li><a href="{% url 'proveedor:crear' %}">Nuevo</a></li>
							<li><a href="{% url 'proveedor:listar' %}">Listar/Editar</a></li>
						</ul>
					</li>
					
					<!--Reportes -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-area-chart"></i>
							<span>Reportes</span>
						</a>
						<ul class="sub-menu">
							<li><a href="{% url 'reporte:MejoresVendedores'%}">Mejores Vendedores</a></li>
							<li><a href="{% url 'reporte:VentasSucursal'%}">Ventas Por Sucursal </a></li>	
						</ul>
					</li>
