					<!-- Opcione del menu para el gerente -->

					<!-- Sucursal -->
					<li>
						<a href="{% url 'sucursal:listar' %}"><i class="fa fa-building"></i><span >Gestionar Sucursales</span></a>
					</li>

					<!-- Sucursal -->
					<li class>
						<a href=""><i class="fa fa-car"></i><span>Gestionar Vehiculos</span></a>
					</li>

					<!-- Sucursal -->
					<li class>
						<a href=""><i class="fa fa-steam-square"></i><span>Gestionar Repuestos</span></a>
					</li>

					<!-- Graficas -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-area-chart"></i>
							<span>Reportes Graficas</span>
						</a>
						<ul class="sub-menu">
							<li><a href="chart-flot.html">Flot Chart</a></li>
							<li><a href="chart-morris.html">Morris Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
						</ul>
					</li>

					<!-- Tablas -->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-th"></i>
							<span>Reportes Tablas</span>
						</a>
						<ul class="sub-menu">
							<li><a href="">Basic Tables</a></li>
							<li><a href="">Managed Tables</a></li>
						</ul>
					</li>
