<li class="dropdown">
<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
	<i class="fa fa-bell-o"></i>
	<span class="label">5</span>
</a>
<ul class="dropdown-menu media-list pull-right animated fadeInDown">
    <li class="dropdown-header">Notifications (5)</li>
    <li class="media">
        <a href="javascript:;">
            <div class="pull-left media-object bg-red"><i class="fa fa-bug"></i></div>
            <div class="media-body">
                <h6 class="media-heading">Server Error Reports</h6>
                <div class="text-muted">3 minutes ago</div>
            </div>
        </a>
    </li>
    <li class="media">
        <a href="javascript:;">
            <div class="pull-left"><img src="assets/img/user-1.jpg" class="media-object" alt="" /></div>
            <div class="media-body">
                <h6 class="media-heading">John Smith</h6>
                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                <div class="text-muted">25 minutes ago</div>
            </div>
        </a>
    </li>
    <li class="dropdown-footer text-center">
        <a href="javascript:;">View more</a>
    </li>
</ul>
</li>