{% extends "base.html" %} 

{% block section_name %}

{% endblock %}

{% block navigation_menu %}

<!-- Vendedor -->
<li class="has-sub active">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Vendedor
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar</a></li>
	</ul>
</li>

<!-- Jefe de Taller -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Jefe de Taller
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Sucursal -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Sucursal
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Repuesto -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Repuesto
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Vehiculo -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Vehiculo
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Graficas -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-area-chart"></i>
		<span>
			Graficas
			<span class="label label-theme m-l-5">NEW</span>
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="chart-flot.html">Flot Chart</a></li>
		<li><a href="chart-morris.html">Morris Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
	</ul>
</li>

<!-- Tablas -->
<li class="has-sub">
	<a href="javascript:;">
	    <b class="caret pull-right"></b>
	    <i class="fa fa-th"></i>
	    <span>Tablas</span>
	</a>
	<ul class="sub-menu">
		<li><a href="table_basic.html">Basic Tables</a></li>
		<li><a href="table_manage.html">Managed Tables</a></li>
	</ul>
</li>

{% endblock %}

{% block content %}

{% endblock %}