{% extends "base.html" %} 

<!-- Opciones para la cuenta de usuario vendedor-->
{% block user_menu %}
<ul class="dropdown-menu animated fadeInLeft">
	<li class="arrow"></li>
	<li><a href="javascript:;">Editar perfil</a></li>
	<li class="divider"></li>
	<li><a href="{% url 'inicio:cerrar_sesion' %}">Cerrar sesion</a></li>
</ul>
{% endblock %}

{% block section_name %}

{% endblock %}

{% block navigation_menu %}

<!-- Cotizacion -->
<li class="has-sub active">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Cotizacion
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar</a></li>
	</ul>
</li>

<!-- Ventas -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-laptop"></i>
		<span>
			Ventas
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

{% endblock %}

{% block content %}

{% endblock %}