{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}{{ section_title }} Sucursal <strong>{{ sucursal.nombre }}</strong> {% endblock %}
{% block section_subtitle %}Diligencie los datos del siguiente formulario{% endblock %}
{% block content %}
	<!-- begin col-12 -->
			    <div class="col-md-12">
			    	<form method="POST" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
			    	
			    	<div class="email-btn-row hidden-xs">
		                <button type="submit" class="btn btn-sm btn-inverse"><i class="fa fa-cog"></i> {{ button_text }}</button>
					</div>

			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Empleado</h4>
                        </div>
                        <div class="panel-body">
 								<div id="wizard">
									<ol>
										<li>
										    Informacion de la Cuenta 
										    <small>Diligencie los diguientes campos con los datos de usuario.</small>
										</li>
										<li>
										    Informacion Adicional
										    <small>Diligencie los siguientes datos con los datos adicionales.</small>
										</li>
									</ol>
									<!-- begin wizard step-1 -->
									<div class="wizard-step-1">
                                        <fieldset>
                                            <legend class="pull-left width-full">Informacion de la cuenta</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                            	{% bootstrap_form user_form  %}
                                            </div>
                                            <!-- end row -->
										</fieldset>
									</div>
									<!-- end wizard step-1 -->
									<!-- begin wizard step-2 -->
									<div class="wizard-step-2">
										<fieldset>
											<legend class="pull-left width-full">Informacion Adicional</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                {% bootstrap_form empleado_form %}
                                            </div>
                                            <!-- end row -->
										</fieldset>
									</div>
									<!-- end wizard step-2 -->
								</div>
							
                        </div>
                    </div>
                    <!-- end panel -->
                	</form>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'color_admin/assets/plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color_admin/assets/js/form-wizards-validation.demo.min.js' %}"></script>
<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script>
	$(document).ready(function() {
		App.init();
		FormWizardValidation.init();
	});
</script>

{% endblock %}

