<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Placa: {{order.placa}}">
  <ion-content class="padding">
    <img ng-src="http://127.0.0.1:8000{{order.vehiculo.imagen}}" style="width: 64px; height: 64px">
    <p>
      <ul>
        <li>Fecha de entrada: {{order.fecha_entrada}}</li>
        <li>Sucursal: {{order.sucursal.nombre}}</li>
        <li>Estado de la reparación: <b>{{order.estado_reparacion}}</b></li>
        <li>Número de órden de trabajo: {{order.id}}</li>
      </ul>
    </p>
  </ion-content>
</ion-view>
