{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block css %}
{{ block.super }}
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}

{% block section_title %}{{ section_title }}{% endblock %}
{% block section_subtitle %}Seleccione el vehiculo que desea añadir al inventario{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
                <div class="col-md-12">
                        {% include 'vehiculo/includes/table.html' %}
                </div>
                <form method="post" data-parsley-validate="true" name="form-wizard" enctype="multipart/form-data"> {% csrf_token %}
                    <!-- #modal-message -->
                    <div class="modal modal-message fade" id="modal-message">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {% include 'vehiculo/includes/form.html' %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                                    <button type="submit" class="btn btn-sm btn-success">{{ submit_button_text }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <!-- ================== BEGIN PAGE LEVEL JS TABLE ================== -->
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/inbox.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/form-wizards.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script type="text/javascript">
    $("td > a").click( function (event){
        event.preventDefault();
        var clickedVehicleId = $(this).attr('href').split("/")[2];
        $("#id_vehiculo").val(clickedVehicleId);
        $(".modal").modal('toggle');
    });
    </script>
    
    <script>
        $(document).ready(function() {
            App.init();
            FormWizard.init();
        });
    </script>
{% endblock %}