{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block custom-css %}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'color_admin/assets/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

<!-- crear Vehiculo -->
{% block content %}
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        
    <!-- begin #header -->
    {% include "includes/header.html" %}
    <!-- end #header -->
    
    <!-- begin #sidebar -->
    {% include "includes/sidebar.html" %}
    <!-- end #sidebar -->
    
    <!-- begin #content -->
    <div id="content" class="content">
        <h1 class="page-header">Nuevo Vehiculo <small>Diligencie los datos del siguiente formulario</small></h1>
        
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        
                    <h4 class="panel-title">Vehiculo</h4>
                    </div>
                    <div class="panel-body">
                        {# Display a form #}
                        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            <div id="wizard">
                                <!-- begin wizard step-1 -->
                                <div>
                                    <fieldset>
                                        <!-- begin row -->
                                        {% bootstrap_form form %}
                                        <!-- end row -->
                                    </fieldset>
                                </div>

                                <button type="submit" class="btn btn-inverse"><i class="fa fa-cog"></i> Agregar</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end #content -->
            
{% endblock %}

{% block custom-js %}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'color_admin/assets/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/form-wizards.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}