{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
<!-- ================== BEGIN PAGE LEVEL STYLE TABLE================== -->
    <link href="{% static 'color_admin/assets/plugins/DataTables-1.9.4/css/data-table.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block section_title %}Vehiculos disponibles {% endblock %}
{% block section_subtitle %}Seleccione un elemento para modificar su información{% endblock %}
{% block content %}
                <!-- begin #content -->
                <!-- begin col-12 -->
                <div class="col-md-12">
                    
                    <div class="email-btn-row hidden-xs">
                        <a href="{% url 'vehiculo:crear' %}" class="btn btn-sm btn-inverse" ><i class="fa fa-plus m-r-5"></i> Nuevo Vehiculo</a>
                    </div>
                    {% include 'vehiculo/includes/vehiculo_table.html' %}
                </div>
                <!-- end col-12 -->
{% endblock %}

{% block javascript %}
{{ block.super }}

    <!-- ================== BEGIN PAGE LEVEL JS TABLE ================== -->
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'color_admin/assets/plugins/DataTables-1.9.4/js/data-table.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/inbox.demo.min.js' %}"></script>
    <script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

{% endblock %}