{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Color Admin | 404 Error Page</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{% static 'color_admin/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/bootstrap-3.2.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">404 <i class="fa fa-2x fa-warning"></i></div>
            <div class="error-content">
                <div class="error-message">No encontrada...</div>
                <div class="error-desc m-b-20">
                    La página que estas buscando no existe. <br />
                    Quizas, hay páginas que pueden ayudarte a encontrar lo que estas buscando.
                </div>
                <div>
                    <a href="{% url 'inicio:login' %}" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
        <!-- end error -->


		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'color_admin/assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'color_admin/assets/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'color_admin/assets/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'color_admin/assets/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'color_admin/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
