{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>SIGIA | Principal</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	{% block base-css %}
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{% static 'color_admin/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/bootstrap-3.2.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
	
	<link href="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/morris/morris.css' %}" rel="stylesheet" />

	<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'color_admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	{% endblock %}
	{% block custom-css %}
	{% endblock %}
	
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	{% block content %}
	{% endblock %}
	<!-- end page container -->
	
	{% block base-js %}
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'color_admin/assets/plugins/jquery-1.8.2/jquery-1.8.2.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>

	<script src="{% static 'color_admin/assets/plugins/morris/raphael.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/morris/morris.js' %}"></script>

	<script src="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js' %}"></script>
	<!-- display the banner, Bienvenido -->
	<script src="{% static 'color_admin/assets/plugins/gritter/js/jquery.gritter.js' %}"></script>

	<script src="{% static 'color_admin/assets/js/dashboard-v2.min.js' %}"></script>
	<script src="{% static 'color_admin/assets/js/apps.min.js' %}"></script>
	
	<script src="{% static 'color_admin/assets/plugins/sparkline/jquery.sparkline.js' %}"></script>
	
	<script src="{% static 'color_admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'color_admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'color_admin/assets/js/dashboard.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	{% endblock %}
	{% block custom-js %}
	{% endblock %}
	
	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
			DashboardV2.init();
			LoginV2.init();
			FormPlugins.init();
		});
	</script>
</body>
</html>
