{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>SIGIA | Principal</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	{% block base-css %}
	{% include "includes/css.html" %}
	{% endblock %}
	{% block custom-css %}
	{% endblock %}
	
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	{% block content %}
	{% endblock %}
	<!-- end page container -->
	
	{% block base-js %}
	{% include "includes/javascript.html" %}
	{% endblock %}
	{% block custom-js %}
	{% endblock %}
</body>
</html>
