{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
  <link href="{% static 'color_admin/assets/css/invoice-print.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block section_title %}{% endblock %}
{% block section_subtitle %}{% endblock %}
{% block content %}
            <!-- begin invoice -->
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="javascript:;" class="btn btn-sm btn-success m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Print</a>
                    </span>
                    {{ user.empleado.sucursal.nombre }}, Inc
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <small>de</small>
                        <address class="m-t-5 m-b-5">
                            <strong>{{ user.empleado.sucursal.nombre }}, Inc.</strong><br />
                            {{ user.empleado.sucursal.direccion }}<br />
                            {{ user.empleado.sucursal.ciudad }}<br />
                            Telefono: (032) {{ user.empleado.sucursal.telefono }}<br />
                        </address>
                    </div>
                    <div class="invoice-to">
                        <small>Para</small>
                        <address class="m-t-5 m-b-5">
                            <strong>{{ cotizacion.orden_de_trabajo.cliente.nombre }} {{ cotizacion.orden_de_trabajo.cliente.apellido }}</strong><br />
                            Street Address<br />
                            {{ cotizacion.orden_de_trabajo.cliente.ciudad }}, {{ cotizacion.orden_de_trabajo.cliente.departamento }}<br />
                            Telefono: (032) {{ cotizacion.orden_de_trabajo.cliente.telefono }}<br />
                            Celular: {{ cotizacion.orden_de_trabajo.cliente.celular }}
                        </address>
                    </div>
                    <div class="invoice-date">
                        <small>Factuta / Orden de Trabajo</small>
                        <div class="date m-t-5">{% now 'SHORT_DATE_FORMAT' %}</div>
                        <div class="invoice-detail">
                            #Orden de Trabajo: {{ cotizacion.orden_de_trabajo.id }}<br />
                            Servicio de Mecanica Automotriz
                        </div>
                    </div>
                </div>
                <div class="invoice-content">
                    <div class="table-responsive">
                        <table class="table table-invoice">
                            <thead>
                                <tr>
                                    <th>DESCRIPCIÓN DE REPUESTOS</th>
                                    <th>RATE</th>
                                    <th>HOURS</th>
                                    <th>LINE TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Website design &amp; development<br />
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                                    </td>
                                    <td>$50.00</td>
                                    <td>50</td>
                                    <td>$2,500.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        Branding<br />
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                                    </td>
                                    <td>$50.00</td>
                                    <td>40</td>
                                    <td>$2,000.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        Redesign Service<br />
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                                    </td>
                                    <td>$50.00</td>
                                    <td>50</td>
                                    <td>$2,500.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="invoice-price">
                        <div class="invoice-price-left">
                            <div class="invoice-price-row">
                                <div class="sub-price">
                                    <small>SUBTOTAL</small>
                                    $4,500.00
                                </div>
                                <div class="sub-price">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="sub-price">
                                    <small>PAYPAL FEE (5.4%)</small>
                                    $108.00
                                </div>
                            </div>
                        </div>
                        <div class="invoice-price-right">
                            <small>TOTAL</small> $4508.00
                        </div>
                    </div>
                </div>
                <div class="invoice-note">
                    * Make all cheques payable to [Your Company Name]<br />
                    * Payment is due within 30 days<br />
                    * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
                </div>
                <div class="invoice-footer text-muted">
                    <p class="text-center m-b-5">
                        THANK YOU FOR YOUR BUSINESS
                    </p>
                    <p class="text-center">
                        <span class="m-r-10"><i class="fa fa-globe"></i> matiasgallipoli.com</span>
                        <span class="m-r-10"><i class="fa fa-phone"></i> T:016-18192302</span>
                        <span class="m-r-10"><i class="fa fa-envelope"></i> rtiemps@gmail.com</span>
                    </p>
                </div>
            </div>
            <!-- end invoice -->
{% endblock %}
{% block javascript %}
{{ block.super }}
{% endblock %}
