<!-- Opcione del menu para el vendedor -->
<!-- Cotizacion -->
<li class="has-sub active">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-calculator"></i>
		<span>
			Cotizacion
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href=""> Crear nuevo </a></li>
		<li><a href=""> Listar/Editar</a></li>
	</ul>
</li>

<!-- Ventas -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-credit-card"></i>
		<span>
			Ventas
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href=""> Crear nuevo </a></li>
		<li><a href=""> Listar/Editar </a></li>
	</ul>
</li>