<!-- Opcione del menu para el gerente -->
<!-- Opcione del menu para el jefe de taller -->
<!-- Orden de trabajo -->
<li class="has-sub active">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-archive"></i>
		<span>
			Orden de trabajo
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar</a></li>
	</ul>
</li>

<!-- Factura orden de trabajo -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-money"></i>
		<span>
			Factura 
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>