<!-- Opcione del menu para el gerente -->

<!-- Empleado -->
<li class="has-sub ">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-male"></i>
		<span>
			Empleado
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="{% url "empleado:crear" %}"> Crear nuevo </a></li>
		<li><a href=""> Listar/Editar</a></li>
	</ul>
</li>


<!-- Sucursal -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-building"></i>
		<span>
			Sucursal
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="{% url "sucursal:crear" %}"> Crear nuevo </a></li>
		<li><a href="{% url "sucursal:listar" %}"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Repuesto -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-cog"></i>
		<span>
			Repuesto
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="{% url "repuesto:crear" %}"> Crear nuevo </a></li>
		<li><a href="{% url "repuesto:listar" %}"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Vehiculo -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-automobile"></i>
		<span>
			Vehiculo
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="{% url "vehiculo:crear" %}"> Crear nuevo </a></li>
		<li><a href="{% url "vehiculo:listar" %}"> Listar/Editar </a></li>
	</ul>
</li>

<!-- Graficas -->
<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-area-chart"></i>
		<span>
			Graficas
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="chart-flot.html">Flot Chart</a></li>
		<li><a href="chart-morris.html">Morris Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
	</ul>
</li>

<!-- Tablas -->
<li class="has-sub">
	<a href="javascript:;">
	    <b class="caret pull-right"></b>
	    <i class="fa fa-th"></i>
	    <span>Tablas</span>
	</a>
	<ul class="sub-menu">
		<li><a href="">Basic Tables</a></li>
		<li><a href="">Managed Tables</a></li>
	</ul>
</li>

<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-archive"></i>
		<span>
			Orden de trabajo
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar</a></li>
	</ul>
</li>

<!-- Factura orden de trabajo -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-money"></i>
		<span>
			Factura 
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="index.html"> Crear nuevo </a></li>
		<li><a href="index_v2.html"> Listar/Editar </a></li>
	</ul>
</li>

<li class="has-sub">
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-calculator"></i>
		<span>
			Cotizacion
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href=""> Crear nuevo </a></li>
		<li><a href=""> Listar/Editar</a></li>
	</ul>
</li>

<!-- Ventas -->
<li class="has-sub" >
	<a href="javascript:;">
		<b class="caret pull-right"></b>
		<i class="fa fa-credit-card"></i>
		<span>
			Ventas
		</span>
	</a>
	<ul class="sub-menu">
		<li><a href="{% url "venta:crear" %}"> Crear nuevo </a></li>
		<li><a href="{% url "venta:listar" %}"> Listar/Editar </a></li>
	</ul>
</li>